@model Quick_Point.co.uk.ViewModels.Resource
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Subscribe.css")

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script src="~/Scripts/purecookie.js"></script>
<link href="~/Content/purecookie.css" rel="stylesheet" />
<section class="hero-section" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-4 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-8 text-center text-lg-left" style="padding-top: 2rem;">
                        <h2 data-aos="fade-right">CoronaVirus Business Support Portal</h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Quick, simple, free advice with no hidden fees or waiting for appointments, aimed to help Small and Medium-sized Businesses in any sector, specialisation or stage. We provide support and guidance for core business areas such as finance, legal, accounting, tax and HR.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!--
<div class="tech-slideshow" onclick="openFunct()">
        <div class="mover-1"></div>
        <div class="mover-2"></div>

</div>End Hero -->
<main id="main">
    <!-- ======= Chat Section ======= -->
    <section class="section-chat">
        <div class="container chat-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center" style="font-size: 18px;">Welcome to the Quick-Point Chat Service! - Please type a question to get started</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="text-center" style="font-size: 24px;">What would you like to know? </div>
                </div>

            </div>
            <div class="row">
                @*<div id="webchat" role="main" style="width:90%; height:100%; max-height:300px; overflow-y:auto; border: 2px solid #2B598F;"></div>*@
                <div class="col-lg-12">
                    <!--<h1 style="color:white">Chatbot under maintenance, thanks for your patience</h1>-->
                    <div id="webchat" class="webchat" role="main"></div>
                </div>


            </div>
            <div class="row">
                <div style="width:90%;"><img class="float-right" src="~/Content/images/ChirpyTagBlue.PNG" /></div>
            </div>
        </div>
    </section>

    <!-- ======= Live Chat Section ======= -->
    <!-- Start of  Zendesk Widget script -->
    @*<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=07a6407a-f361-483a-b81b-13b60d3efdaf"></script>*@

    <!-- ======= Links Section ======= -->
    <section class="section-links">
        <div class="container container-flex">
            <div class="row">
                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle10", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-1.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Starting a business during Coronavirus
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle4", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-2.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    What is the Coronavirus Job Retention Scheme?
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle2", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-3.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    COVID-19: Support for Businesses
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle8", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-4.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    What expenses can I claim through my Limited company
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->


@using (Html.BeginForm("SubscribePopup", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section id="fixed-form-container">
        <div class="button" onclick="toggleSubmit()">Subscribe to Newsletter</div>
        <div class="body">
            <div class="form-group">
                <label for="name" style="color:darkslategray">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email" style="color:darkslategray">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <button onclick="postvals()" type="button" class="btnx btn-defaultx">Subscribe!</button>
        </div>
    </section>
}

<script>
    function openFunct() {
        window.open("https://uk.practicallaw.thomsonreuters.com/w-025-9295?transitionType=Default&contextData=(sc.Default)&firstPage=true");
    }
</script>

@section scripts {
    <link href="~/Content/purecookie.css" rel="stylesheet" />
    <script src="~/Scripts/purecookie.js"></script>

    <script type="text/javascript">

        var purecookieTitle = "Quick-Point Terms of Use"; // Title
        var purecookieDesc = "By using this ChatBot and associacted services, you agree to our Terms of Use and Privacy Policy."; // Description
        var purecookieLink = '<a href="https://www.quick-point.co.uk/Home/Terms" target="_blank">Terms of Use</a>'; // Cookiepolicy link
        var privacyLink = '<a href="https://www.quick-point.co.uk/Home/Privacy" target="_blank">Privacy Policy</a>'; // Cookiepolicy link
        var purecookieButton = "I Agree"; // Button text

    </script>
}