
@{
    Layout = "~/Views/Shared/_BeanlandLayout.cshtml";
    ViewBag.Title = "Read Article";
}

<section class="hero-section-slim" id="hero">
    <div class="container" style="min-height:255px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                    </div>
                    <div class="col-lg-7 text-center text-lg-left">
                        <h1 data-aos="fade-right">Quickpoint Articles </h1>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            COVID-19 and claiming benefits
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

    <div class="container" style="padding-top:10px;">
        <div class="row" style="background-color:lightblue; padding:5px; border:1px solid #0099cc;">
            <table border="1" width="100%" bordercolor="gray" cellspacing="5">
                <tr>
                    <td class="tbCell" colspan="4" style="background-color:#FFFDE7;">@Html.Label("Customer Information - Common Fields ", new { @style = "font-weight:500;" })</td>
                </tr>
                <tr>
                    <td class="tbCell">@Html.Label("Customer Name", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD"> @Html.TextBox("OrganisationName", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("Customer Type", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/CustomerClassification.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">@Html.Label("Customer Address", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.TextBox("AddressLine1", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("Currency", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/SelectListCurrency.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">&nbsp;</td>
                    <td class="tbCellDD">@Html.TextBox("AddressLine2", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("Subsidiary", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/BillToUKSubsidiary.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">&nbsp;</td>
                    <td class="tbCellDD">@Html.TextBox("AddressLine3", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("Buying Group", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/BillToUKBuyingGroup.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">@Html.Label("City", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.TextBox("City", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("Comms Mode", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/BillToXxtmCfdCommMode.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">@Html.Label("Province / County", null, new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.TextBox("Province", null, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td class="tbCell">@Html.Label("City Resort Code", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/BillToUKCityResortCode.cshtml")</td>
                </tr>
                <tr>
                    <td class="tbCell">@Html.Label("Country", new { @style = "font-weight:500;" })</td>
                    <td class="tbCellDD">@Html.Partial("~/Views/Partials/SelectListCountries.cshtml")</td>
                    <td class="tbCell">&nbsp;</td>
                    <td class="tbCellDD">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

