@model Quick_Point.co.uk.ViewModels.Resource
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQ";
}

    <section class="hero-section" id="hero">
        <div class="container" style="min-height:355px;">
            <div class="row">
                <div class="col-12 hero-text-image">
                    <div class="row">
                        <div class="col-lg-5 iphone-wrap">
                            <a href="/Home/Index">
                                <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                            </a>
                        </div>
                        <div class="col-lg-7 text-center text-lg-left">
                            <h1 data-aos="fade-right">Quick-Point Resources </h1>
                            <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                                A premium collection of hand-selected Legal and Accounting Articles specifially relevant to Covid-19 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section><!-- End Hero -->
<div class="container" style="padding-top:10px;">
    <table style="border: 1px solid lightgray;">
        <tr>
            <th style="width:30%" ;" class="text-center">Tax and Finance Articles</th>
            <th style="width:70%" ; class="text-center">Legal Articles</th>
        </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle1", Model.BaseUrl)' target="_blank">COVID-19 and claiming benefits</a></td>
            <td>Legal Article 1</td>
        </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle2", Model.BaseUrl)' target="_blank">COVID-19: Support for Businesses </a></td>
            <td>Legal Article 2</td>
        </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle3", Model.BaseUrl)' target="_blank">Companies House deadlines and Coronavirus </td>
            <td>Legal Article 3</td>
        </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle4", Model.BaseUrl)' target="_blank">What is the Coronavirus Job Retention Scheme? </td>
            <td>Legal Article 4</td>    </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle5", Model.BaseUrl)' target="_blank">Deferral of VAT payments update</a> </td>
            <td>Legal Article 5</td>      </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle6", Model.BaseUrl)' target="_blank">Self-employed Income Support Scheme</a> </td>
            <td>Legal Article 6</td>      </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle7", Model.BaseUrl)' target="_blank">Profit Extraction Strategies & Tax Efficiency</a> </td>
            <td>Legal Article 7</td>      </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle8", Model.BaseUrl)' target="_blank">What expenses can I claim through my limited company? </a> </td>
            <td>Legal Article 8</td>      </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle9", Model.BaseUrl)' target="_blank">Growing your SME business during a global pandemic </td>
            <td>Legal Article 9</td>     </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle10", Model.BaseUrl)' target="_blank">Starting a business during Coronavirus </td>
            <td>Legal Article 10</td>    </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle11", Model.BaseUrl)' target="_blank">How to effectively manage your staff remotely </td>
            <td>Legal Article 11</td>     </tr>
        <tr class="cells">
            <td><a href='@String.Format("{0}TaxAccArticle12", Model.BaseUrl)' target="_blank">The Key to a Successful Zoom Meeting </td>
            <td>Legal Article 12</td>       </tr>
    </table>
</div>
