@model Quick_Point.co.uk.ViewModels.Resource
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQ";
}

    <section class="hero-section" id="hero">
        <div class="container" style="min-height:355px;">
            <div class="row">
                <div class="col-12 hero-text-image">
                    <div class="row">
                        <div class="col-lg-5 iphone-wrap">
                            <a href="/Home/Index">
                                <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                            </a>
                        </div>
                        <div class="col-lg-7 text-center text-lg-left">
                            <h2 data-aos="fade-right">Quick-Point Resources </h2>
                            <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                                Find an answer from our list of carefully selected questions and answers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section><!-- End Hero -->
<div class="container" style="padding-top:10px;">
    <table style="border: 1px solid lightgray;">
        <tr>
            <th style="width:30%" ;" class="text-center"><h4>Tax and Finance Articles</h4></th>
            <th style="width:70%" ; class="text-center"><h4>Legal Articles</h4></th>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle1", Model.BaseUrl)' target="_blank">COVID-19 and claiming benefits</a></td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle1", Model.BaseUrl)' target="_blank">EPC Contracts</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle2", Model.BaseUrl)' target="_blank">COVID-19: Support for Businesses </a></td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle2", Model.BaseUrl)' target="_blank">Reduction in the grant under the furlough scheme</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle3", Model.BaseUrl)' target="_blank">Companies House deadlines and Coronavirus </a></td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle3", Model.BaseUrl)' target="_blank">Signing documents during the Covid-19 outbreak</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle4", Model.BaseUrl)' target="_blank">What is the Coronavirus Job Retention Scheme?  </a></td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle4", Model.BaseUrl)' target="_blank">Self Employment Income Support Scheme (SEISS) What You Need To Know</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle5", Model.BaseUrl)' target="_blank">Deferral of VAT payments update</a> </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle5", Model.BaseUrl)' target="_blank">Teir 2 &amp; Covid-19</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle6", Model.BaseUrl)' target="_blank">Self-employed Income Support Scheme</a> </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle6", Model.BaseUrl)' target="_blank">Force Majeure during the Corona virus outbreak</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle7", Model.BaseUrl)' target="_blank">Profit Extraction Strategies & Tax Efficiency</a> </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle7", Model.BaseUrl)' target="_blank">UK Intellectual Property Law in light of Covid-19 revised UK IPOS Practices</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle8", Model.BaseUrl)' target="_blank">What expenses can I claim through my limited company? </a> </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle8", Model.BaseUrl)' target="_blank">Force Majeure Clauses</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle9", Model.BaseUrl)' target="_blank">Growing your SME business during a global pandemic </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle9", Model.BaseUrl)' target="_blank">Can Tier 2 Employees Be Furloughed?</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle10", Model.BaseUrl)' target="_blank">Starting a business during Coronavirus </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle10", Model.BaseUrl)' target="_blank">COVID-19 and claiming benefits</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle11", Model.BaseUrl)' target="_blank">How to effectively manage your staff remotely </td>
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}LegalArticle11", Model.BaseUrl)' target="_blank">What Points should a Furlough Agreement Cover?</a></td>
        </tr>
        <tr class="cells">
            <td style="text-align: center; font-size:16px;"><a href='@String.Format("{0}TaxAccArticle12", Model.BaseUrl)' target="_blank">The Key to a Successful Zoom Meeting </td>
            <td style="text-align: center; font-size:16px;">&nbsp;</td>       
        </tr>
    </table>
</div>
